<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.opentracker.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--
    http://developer.android.com/reference/android/Manifest.permission.html
    -->
    <!--
    Allows an application to open network sockets.
    -->
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>

    <!--
    Allows an application to access fine (e.g., GPS) location
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>

    <!--
    Allows an applications to access information about networks: needed for
    methods OTDataSockets.getNetworkType() and OTDataSockets.getNetwork();
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>

    <!--
    Allows an applications to access information about Wi-Fi networks
    -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" ></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".OTExampleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>